<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/main.css">
    <%- include('../includes/navigation.ejs') %>
    <section class="main__container">
            <div class="main-form">
                <h1 class="main__title"><%= pageTitle %></h1>
                <form class="main-form__form" action="/nova-sifra" method="POST">
                    <div class="main-form__form-group">
                        <label for="password">Nova Šifra</label>
                        <input type="password" id="password" name="password" class="main-form__input" placeholder="Nova Šifra" required>
                    </div>
                    <div class="main-form__form-group">
                        <label for="confirmPassword">Potvrdite Šifru</label>
                        <input type="password" id="confirmPassword" name="confirmPassword" class="main-form__input" placeholder="Potvrdite Šifru" required>
                    </div>
                    <input type="hidden" name="CSRFToken" value="<%= csrfToken %>">
                    <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
                    <input type="hidden" name="userId" value="<%= userId %>">
                    <button class="btn" type="submit">Promenite</button>
                </form>
                <% if (errorMessage) { %>
                    <div class="user-message user-message--error"><%= errorMessage %></div>
                <% } %>
                </div>
        </section>
        <%- include('../includes/end.ejs') %>

