<footer class="main-footer">
    <!-- Creat footer menu for terms & conditions, privacy police, about, suport, feedback -->
    <nav class="main-footer__nav">
        <ul class="main-footer__item-list">
            <li class="main-footer__item">
                <a class="<%= path === '/tutorijali' ? 'active' : '' %>" href="https://www.youtube.com/playlist?list=PLFnv2VazqCCPU3aPbuQWnIQG9fbBookYv">Tutorijali</a>
            </li>
            <li class="main-footer__item">
                <a class="<%= path === '/uslovi-koriscenja' ? 'active' : '' %>" href="/uslovi-koriscenja">Uslovi Korišćenja</a>
            </li>
            <li class="main-footer__item">
                <a class="<%= path === '/politika-privatnosti' ? 'active' : '' %>" href="/politika-privatnosti">Politika Privatnosti</a>
            </li>
            <li class="main-footer__item">
                <a class="<%= path === '/o-nama' ? 'active' : '' %>" href="/o-nama">O Nama</a>
            </li>
            <li class="main-footer__item">
                <a class="<%= path === '/pomoc' ? 'active' : '' %>" href="https://forms.gle/GZ8Bygy5J89Viz7f9">Pomoć</a>
            </li>
            <li class="main-footer__item">
                <a class="<%= path === '/sugestije' ? 'active' : '' %>" href="https://forms.gle/4gioWf65pVqfBQVc6">Sugestije</a>
            </li>
        </ul>
    </nav>
</footer> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.datatables.net/v/dt/dt-2.0.7/datatables.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>