<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/event.css">
<link rel="stylesheet" href="/css/new-main.css">
    <%- include('../includes/navigation.ejs') %>
        <section class="main__container">
            <h1 class="main__title"><%= pageTitle %></h1>
            <h2 class="sub__title"><%= event.type %> <% if (event.type !== "public") { %>Cena: <%= event.cost %><% } %></h2>
            <h2 class="sub__title"><% if (event.startDate > Date.now()) { %>Predstojeći<% } else if (event.startDate <= Date.now() && (event.endDate > Date.now())) { %>Trenutni<% } else { %>Završeni<% } %></h2>
            <div class="content__container">
                <div class="left-content__container">
                    <div class="description">
                        <h2 class="">Datumi</h2>
                        <p>Početak: <strong><%= event.startDate.toLocaleDateString('sr-RS') %></strong></p>
                        <p>Kraj: <strong><%= event.endDate.toLocaleDateString('sr-RS') %></strong></p>
                        <h2 class="sub__title">Opis</h2>
                        <% event.description.forEach(desc => { %>
                            <p><%= desc %></p>
                        <% }) %>
                        <h2 class="sub__title">Pravila</h2>
                        <% if (event.rules.length > 0) { %>
                            <% event.rules.forEach(rule => { %>
                                <p><%= rule %></p>
                            <% }) %>
                        <% } else { %>
                            <p>Trenutno nema Pravila!</p>
                        <% } %>
                        <h2 class="sub__title">Nagrade</h2>
                        <% if (event.rewards.length > 0) { %>
                            <% event.rewards.forEach(reward => { %>
                                <div>
                                    <img src="<%= reward.image %>" alt="<%= reward.title %>">
                                    <p><%= reward.title %></p>
                                    <p><%= reward.description %></p>
                                </div>
                            <% }) %>
                        <% } else { %>
                            <p>Trenutno nema Nagrada!</p>
                        <% } %>
                    </div>
                    <img src="<%= event.image %>" alt="<%= event.title %>">
                </div>
                <div class="right-content__container">
                    <div class="tab__container">
                        <div class="tabs">
                            <button type="button" class="tab <%= activeParticipant %> btn" onclick="openTab('participants__container',1)"
                                data-tab="participants__container">Učesnici</button>
                            <button type="button" class="tab <%= activeRecipes %> btn" onclick="openTab('recipes__container',1)"
                                data-tab="recipes__container">Sadržaj</button>
                        </div>
                    </div>
                    <div class="result__container">
                        <div id="participants__container" class="participants__container tab-content <%= activeParticipant %>" data-tab="participants__container">
                            <% if (event.participants.length > 0) { %>
                                <table class="table">
                                    <caption>Učesnici:</caption>
                                    <thead>
                                      <tr>
                                        <th>Slika</th>
                                        <th>Korisničko Ime</th>
                                        <th>Akcije</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        <% event.participants.forEach(part => { %>
                                        <tr>
                                            <td><img style="max-width: 100px; max-height: 100px;" src="<%= part.userImage %>" alt="part.username"></td>
                                            <td><a class="main__link" href="/admin/korisnik-detalji/<%= part.userId %>"><%= part.username %></a></td>    
                                            <td>
                                                <a class="btn" href="/admin/korisnik-detalji/<%= part.userId %>">Vidi</a>
                                            </td>
                                        </tr>
                                      <% }) %>
                                    </tbody>
                                </table>
                            <% } else { %>
                                <p>Trenutno nema Učesnika!</p>
                            <% } %>
                        </div>
                        <div id="recipes__container" class="recipes__container tab-content <%= activeRecipes %>" data-tab="recipes__container">
                            <% if (event.content.length > 0) { %>
                                <table class="table">
                                    <caption>Učesnici:</caption>
                                    <thead>
                                      <tr>
                                        <th>Slika</th>
                                        <th>Naziv</th>
                                        <th>Autor</th>
                                        <th>Akcije</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        <% event.content.forEach(content => { %>
                                        <tr>
                                            <td><img style="max-width: 100px; max-height: 100px;" src="<%= content.recipe.featureImage %>" alt="content.recipe.title"></td>
                                            <td><a class="main__link" href="/admin/korisnik-detalji/<%= content.author.userId %>"><%= content.author.username %></a></td>    
                                            <td>
                                                <a class="btn" href="/admin/recept-detalji/<%= content.recipe.recipeId %>">Vidi</a>
                                            </td>
                                        </tr>
                                      <% }) %>
                                    </tbody>
                                </table>
                            <% } else { %>
                                <p>Trenutno nema Sadržaja!</p>
                            <% } %>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
    <%- include('../includes/end.ejs') %>

