<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/main.css">
    <%- include('../includes/navigation.ejs') %>
            <section class="main__container">
                <h1 class="main__title"><%= title %></h1>
                <p><%= text %></p>
                <a class="btn" href="/moj-profil">Idi na Moj Profil</a>
            </section>
        <%- include('../includes/end.ejs') %>

